# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama  :  Ogi Hadicahyo  
Batch :  HCK-012

---

In [ ]:
# Run this block code
print("HELLO")

# print("WORLD")

HELLO

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [1]:
# Code dibawah ini
nama = "Ogi"
favoriteNumber = 3
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

In [21]:
# Latihan kode disini (Ikuti dalam kelas)
favoriteNumber = 10
print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber == favoriteNumber) # equal, > >= < <=, != not equal

favoriteNumber += 5
print(favoriteNumber)
print("==========")

# favorite number dikurangin 10%
favoriteNumber = favoriteNumber - favoriteNumber/10
print(favoriteNumber)

nama = "ogi"
#Coba tambahkan angka ke string
nama += str(5)
nama += "shi"
print(nama)

#coa fungsi len dengan ada spasi
print(len(nama))

#coba akses karakter pertama dan kedua
print(nama[0:2])

10
<class 'int'>
True
15
==========
13.5
ogi5shi
7
og

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [ ]:
# Latihan kode disini (Ikuti dalam kelas)

## Data Type Boolean

Yaitu True dan False

In [ ]:
# Latihan kode disini (Ikuti dalam kelas)

# print(1 == True)
# print(0 == False)

In [30]:
print (nama, favoriteNumber, isHungry)
print(f"aku punya adik yang bernama {nama}, dia menyukai angka {favoriteNumber}")

ogi5shi 13.5 False
aku punya adik yang bernama ogi5shi, dia menyukai angka 13.5

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## List []

In [43]:
names = ["wayang","ical", "memet","ogi"]
print(names)
print(type(names))
print(names[2])

#Jumlah value/data/elemen 
print(len(names))

#Hapus & menambahkan data
names.remove("memet")
names.append("amack")
print(names)

#mengakses indeks terakhir
#cara 1
n = len(names) - 1
print(names[n])

#cara 2
print(names[-1])

['wayang', 'ical', 'memet', 'ogi']
<class 'list'>
memet
4
['wayang', 'ical', 'ogi', 'amack']
amack
amack

In [44]:
numbers = [1000,400,30,4500]
print (numbers)

#Default ascending
numbers.sort()
print(numbers)

#Descending
numbers.sort(reverse=True)
print(numbers)

[1000, 400, 30, 4500]
[30, 400, 1000, 4500]
[4500, 1000, 400, 30]

### Pass Refrence

In [46]:
listMakanan =["sushi", "martabak", "Telor"]
listMakananFavorite = listMakanan
listMakananFavorite.append("Yakult")
#keduanya berubah
print(listMakananFavorite)
print(listMakanan)

['sushi', 'martabak', 'Telor', 'Yakult']
['sushi', 'martabak', 'Telor', 'Yakult']

### cara hande pass refrence

In [47]:
listMakananFavorite = listMakanan.copy()
listMakananFavorite.append("Susu")
print(listMakanan)
print(listMakananFavorite)

['sushi', 'martabak', 'Telor', 'Yakult']
['sushi', 'martabak', 'Telor', 'Yakult', 'Susu']

In [49]:
print(listMakananFavorite[1:4])
print(listMakananFavorite[:4])

['martabak', 'Telor', 'Yakult']
['sushi', 'martabak', 'Telor', 'Yakult']

### Tuple ()

In [55]:
listPejabat = ('sukma','adit','randy','bahdul','sukma')
print(listPejabat)
print(type(listPejabat))
print(len(listPejabat))

('sukma', 'adit', 'randy', 'bahdul', 'sukma')
<class 'tuple'>
5

## Set

In [56]:
listPejabat = set(listPejabat)
print(listPejabat)
print(len(listPejabat))

{'sukma', 'adit', 'bahdul', 'randy'}
4

In [60]:
PersianCat ={
    'Name'  : 'Idung',
    'age'   : 26,
    'weight' : 5.5,
    'height' : 30
}

print(PersianCat)
print(len(PersianCat))

#Akses value dengan keyname (Bukan Index)
print(PersianCat['Name'])

#Menambahkan keyname dan value baru
PersianCat['isVaksin'] = True 
print(PersianCat)

#Mengubah value (jika keyname tsb sudah ada)
PersianCat['Name'] = 'Agung'
print(PersianCat)

{'Name': 'Idung', 'age': 26, 'weight': 5.5, 'height': 30}
4
Idung
{'Name': 'Idung', 'age': 26, 'weight': 5.5, 'height': 30, 'isVaksin': True}
{'Name': 'Agung', 'age': 26, 'weight': 5.5, 'height': 30, 'isVaksin': True}

## EXCERCISE

In [62]:
listAlphabet = [
    [0, 'Ayu', 'Bita', 'Cinta'],
    [1, 'Dian', 'Ersa', 'Fanta'],
    [2, 'G', 'H', 'I'] 
]

print(len(listAlphabet[1][-1]))

listHck12 = {
    "students": ['Bita','Revo','Nicku','Samuel','Panji','Yuda'],
    "Buddy": ['Ayu','Ayu','Ayu','Sapta','Sapta','Ayu'],
    "Scores": [100,100,90,90,100,50]
}

print(listHck12['students'][1],listHck12['Buddy'][1])
print(listHck12['Scores'])
print(max(listHck12['Scores']))
print(min(listHck12['Scores']))

5
Revo Ayu
[100, 100, 90, 90, 100, 50]
100
50

listAlphabet = [
    [0, 'Ayu', 'Bita, 'Cinta']
]